<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Inventory System</h1>
            <button id="logout" class="logout">Logout</button>
        </header>

        <div class="dashboard">
            <div class="buttons">
                <button class="ict" id="ict" value="ict" name="ict">ICT</button>
                <button class="furniture" id="furniture" value="furniture" name="furniture">Furniture</button>
                <button class="attractive" id="attractive" value="attractive" name="attractive">Attractive Portable</button>
                <button class="vehicle" id="vehicle" value="vehicle" name="attractive">Vehicle</button>
            </div>
        </div>

        <form id="inventory-form">
            <input type="hidden" id="table-name" name="table-name">
            <input type="text" id="item-name" placeholder="Item Name" required>
            <input type="number" id="item-quantity" placeholder="Quantity" required>
            <input type="text" id="item-category" placeholder="Category" required>
            <input type="text" id="item-brand" placeholder="Brand" required>
            <input type="text" id="item-notes" placeholder="Notes" required>
            <button type="submit">Add Item</button>
        </form>
        
        <table id="inventory-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Inventory items will be added here -->
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</body>
</html>