<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/styles/signin.css">
</head>
<body>
    <div class="container">
        <div id="form-container">
            <!-- Login Form -->
            <form id="login-form" class="form" method="POST">
                <h2>Sign in</h2>
                <label for="login-email">Email</label>
                <input type="email" id="login-email" name="email" placeholder="Email" required>
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <p class="toggle-form">
                    <a href="/register">Sign Up</a>
                </p>
            </form>
        </div>
        <div class="image-container">
            <img src="../static/images/signup.jpeg" alt="Illustration">
        </div>
    </div>
    <script src="../static/scripts/signin.js"></script>
</body>
</html>
